.remove {
    margin: 0 10px 10px 0; 
}

.comment-form {
    padding: 10px;
    border: 1px solid black;
}
.username {
    width: 150px;
    margin-right: 10px;
}

.comment {
    width: 220px;
    margin-right: 10px;
}

.remove-comment {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 10px;
}

.post {
    background-color: beige;
}